# Python
__pycache__/
*.pyc

# Node
node_modules/

# NestJS
dist/

# PostgreSQL
postgres/
postgres/**
postgres_backup/

# Environment
.env
!.env.example

# Artillery load tests
tests-artillery-*/

# IDE/Editor
.vs/
.vscode/
